<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated excelltsmetamodel -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="excelltsmetamodel.presentation.ExcelltsmetamodelModelWizardID"
            name="%_UI_ExcelltsmetamodelModelWizard_label"
            class="excelltsmetamodel.presentation.ExcelltsmetamodelModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ExcelltsmetamodelModelFile.gif">
         <description>%_UI_ExcelltsmetamodelModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated excelltsmetamodel -->
      <editor
            id="excelltsmetamodel.presentation.ExcelltsmetamodelEditorID"
            name="%_UI_ExcelltsmetamodelEditor_label"
            icon="icons/full/obj16/ExcelltsmetamodelModelFile.gif"
            extensions="excelltsmetamodel"
            class="excelltsmetamodel.presentation.ExcelltsmetamodelEditor"
            contributorClass="excelltsmetamodel.presentation.ExcelltsmetamodelActionBarContributor">
      </editor>
   </extension>

</plugin>
