<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="excelltsmetamodel.design.Activator"
               id="excelltsmetamodel.design"
	       name="excelltsmetamodel">
    </component>
  </extension>
</plugin>
